# Python Virtual Environments
.venv/
env/
__pycache__/
.env

# Keep the data directory structure, but ignore files inside each folder.
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/generation_outputs/*
!data/generation_outputs/.gitkeep
data/evaluation_outputs/*
!data/evaluation_outputs/.gitkeep
!data/raw/.gitkeep
!data/processed/
!data/processed/.gitkeep
!data/generation_outputs/
!data/generation_outputs/.gitkeep
!data/evaluation_outputs/
!data/evaluation_outputs/.gitkeep